.settings-about {
    width: 100%;
    height: fit-content;
  }
  .settings-flex-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
  }
  .settings-userInfo {
    width: 32%;
  }
  .settings-userDetails {
    width: 32%;
  }
  .settings-userPermissions {
    width: 36%;
  }