.user-info-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 90px;
    align-items: center;
  }
  .user-info-box {
    position: relative;
    width: 232px;
    margin: 0 auto;
    height: fit-content;
  }
  .user-info-profile-pic {
    width: 100%;
  }
  .user-info-admin-div {
    position: absolute;
    width: 77px;
    height: 51px;
    background-color: #7e7ef1;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 160px;
  }
  .user-info-admin-div img {
    width: 24px;
    height: 24px;
  }
  .user-info-wrapper span {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 40px;
    font: normal normal 300 14px/19px Segoe UI;
    letter-spacing: 0px;
    color: #b0acac;
  }
  .user-info-name {
    font: normal normal 600 48px/48px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    size: 48px;
    font-style: 600;
  }
  .user-info-email {
    font: normal normal 300 16px/21px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 47px;
  }
  .user-info-submit-btn {
    height: 59px;
    padding: 5px;
    background: #7e7ef1 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 100px;
    font: normal normal 600 16px/21px Segoe UI;
    letter-spacing: 0px;
    color: #ffffff;
    width: 209px;
    border: 0px;
    margin: 0 auto;
  }